@charset "utf-8";
/* CSS Document */
.middle-top{
	top:80px;
	width:50%;
	margin-left:22%;
}
.middle-top h1{
	padding-top:100px;
}
.destination{
	width:50%;
	margin-left:22%;
	background-color:rgba(221,240,237,1);
	transition: all 0.5s ease-in;
	height:auto;
	padding:1% 2% 1% 2%;
	height:330px;
}
.destination-img1{
	width:40%;
	float:left;
	background-image:url(%E7%9B%AE%E7%9A%84%E5%9C%B0%E7%9B%B8%E5%86%8C/%E9%95%BF%E7%99%BD%E5%B1%B1.jpg);
	background-size: cover;
	transition: all 0.5s ease-in;
	z-index:3;
	display: block;
	height:260px;
	margin:20px 10px 20px 10px;
	}
.destination-img2{
	width:40%;
	float:left;
	background-image:url(%E7%9B%AE%E7%9A%84%E5%9C%B0%E7%9B%B8%E5%86%8C/%E9%9B%BE%E5%87%87%E5%B2%9B.jpg);
	background-size: cover;
	transition: all 0.5s ease-in;
	z-index:3;
	display: block;
	height:260px;
	margin:20px 10px 20px 10px;
	}
.destination-img3{
	width:40%;
	float:left;
	background-image:url(%E7%9B%AE%E7%9A%84%E5%9C%B0%E7%9B%B8%E5%86%8C/%E9%9B%AA%E4%B9%A12.jpg);
	background-size: cover;
	transition: all 0.5s ease-in;
	z-index:3;
	display: block;
	height:260px;
	margin:20px 10px 20px 10px;
	}
.destination-img4{
	width:40%;
	float:left;
	background-image:url(%E7%9B%AE%E7%9A%84%E5%9C%B0%E7%9B%B8%E5%86%8C/%E5%93%88%E5%B0%94%E6%BB%A82.jpg);
	background-size: cover;
	transition: all 0.5s ease-in;
	z-index:3;
	display: block;
	height:260px;
	margin:20px 10px 20px 10px;
	}
.destination h2{
	margin-left:10% 50% ;
	
	}
.destination p{
	margin-left:5% 50% 20% 20%;
	}
.blank{
	width:100%;
	height:100px;
	background-color:hsla(0,100%,100%,1.00);
	}